@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
body {
  font-family: 'Poppins', sans-serif;
  background-repeat: no-repeat;
  background-color: white;
}

#myVideo {
  position: absolute;
  z-index: -1;
  margin-bottom: 20px;
  width: 100vw;
    height: 100vh;
    object-fit: cover;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

}

ul li {
  display: inline-block;
  list-style-type: none;
  margin-top: 40px;
  padding: 0 6px 0 2px;
}

header {
  position: relative;
  overflow: hidden;
  height: 150px;
  margin: auto;
}

.menu-area-main li {
  margin-left: 20px;
}

.menu-area-main {
  margin-left: 450px;
}

.slider_section {
  padding-top: 300px;
}

.slider_section {
  background-color: transparent;
}

.carousel-inner {
  text-align: center;
  padding: 10%;
  padding-left: 350px;
  padding-right: 350px;


}

.carousel-item span {
  font-size: 70px;
  color: #e8387b;
}

.carousel-item h1 {
  font-size: 80px;
  font-weight: bold;
  color: white;
}

.carousel-item p {
  margin-top: 30px;
  color: white;
}

.main-menu ul li a {
  appearance: button;
  text-decoration: none;
  color: white;
}



#about {
  font-family: 'Poppins', sans-serif;
  display: center;
  background: url("images/about_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 120px;
  padding: 110px 0;
  height: 800px;
  position: relative;
  top: 120px;
}

.about .about-box {
  text-align: left;
}

.about .about-box h2 {
  padding: 0;
  color: #020d0f;
  line-height: 70px;
  font-size: 70px;
}

.about .about-box p {
  font-size: 17px;
  line-height: 28px;
  color: #000;
  padding: 35px 0px;
}

.about .about-box a {
  font-size: 16px;
  border: #000 solid 1px;
  background-color: #000;
  color: #fff;
  padding: 9px 0px;
  max-width: 171px;
  width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 30px;
}

.about-box a:hover {
  background-color: #0ed1f0;
  border: #0ed1f0 solid 1px;
  color: #fff;
}


.display_boxflex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.mwt {
  margin: 0px;
  margin-left: 0;
  width: 100%;
  padding-top: 100px;
  text-align: center;
  background: white;
}

.upcoming {
  margin-top: 90px;
  padding-top: 90px;
  background: #fff;
}

.box_text {
  max-width: 415px;
  width: 100%;
  padding: 25px 2px 2px 2px;
  float: right;
}

.box_text .titlepage {
  padding-bottom: 20px;
  text-align: left;
}

.box_text p {
  font-size: 17px;
  line-height: 35px;
  font-weight: 400;
  text-align: left;
  color: #181716;
  padding-right: 20px;
}

.box_text a {
  font-size: 16px;
  border: #000 solid 1px;
  background-color: #000;
  color: #fff;
  padding: 9px 0px;
  max-width: 171px;
  width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 30px;
  float: left;
  margin-top: 53px;
}

.box_text a:hover {
  background-color: #0ed1f0;
  border: #0ed1f0 solid 1px;
  color: #fff;
}

.padding_left3 {
  padding-right: 0px;
}

.upcomimg figure {
  margin: 0;
}

.upcomimg figure img {
  width: 100%;
}

.Gallery {
  background: #ececec;
  padding: 110px 0;
  margin-top: 90px;

}

.Gallery_text .titlepage {
  padding-bottom: 20px;
  text-align: right;
}

.Gallery_text p {
  font-size: 17px;
  line-height: 35px;
  font-weight: 400;
  text-align: right;
  color: #181716;
}

.Gallery_text a {
  font-size: 16px;
  border: #000 solid 1px;
  background-color: #000;
  color: #fff;
  padding: 9px 0px;
  max-width: 171px;
  width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 30px;
  float: right;
  margin-top: 53px;
}

.margi_bott {
  margin-bottom: 20px;
}

.Gallery_img {
  position: relative;
}

.Gallery_img figure {
  margin: 0;
}

.Gallery_img figure img {
  width: 100%;
}

.hover_box {
  background: #0ed1f0bf;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 92.5%;
  box-sizing: border-box;
  float: left;
  height: 100%;
  align-items: center;
  opacity: 0;
  transition: ease-in all 0.5s;
}

.Gallery_text a:hover {
  background-color: #0ed1f0;
  border: #0ed1f0 solid 1px;
  color: #fff;
}

ul.icon_hu {
  text-align: center;
}

ul.icon_hu h3 {
  color: #fff;
  font-size: 26px;
  padding: 0;
  font-weight: 500;
}

ul.icon_hu li {
  padding: 10px 3px;
  display: inline-block;
}

.titlepage {
  text-align: center;
  padding-bottom: 60px;
}

.titlepage span {
  padding-top: 30px;
  display: inline-block;
  font-size: 17px;
  color: #000;
}

.yellow {
  color: #200769;
  font-weight: bold;
}

.titlepage h2 {
  padding: 0;
  color: #000;
  line-height: 85px;
  font-size: 70px;
}

.contact {
  padding-top: 90px;
}

.contact_bg .titlepage {
  text-align: center;
  padding-bottom: 30px;
}

.contact_bg .titlepage h2 {
  padding: 0px;
  color: #fff;
}

.contact_bg {
  max-width: 677px;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0px 50px 0px;
}

.contact_bg .contactus {
  border: #b1b0b0 solid 1px;
  padding: 12px 19px;
  margin-bottom: 15px;
  border-radius: inherit;
  color: #000;
  width: 100%;
  height: 44px;
}

.contact_bg .textarea {
  margin-bottom: 15px;
  padding: 15px 19px;
  color: #000 !important;
  width: 100%;
  border: #b1b0b0 solid 1px;
  border-radius: inherit;
}

.contact_bg .send {
  font-size: 16px;
  background-color: #fff;
  color: #000;
  max-width: 171px;
  width: 100%;
  padding: 11px 0px;
  transition: all 0.3s ease-in;
  border-radius: 30px;
}

.contact_bg .send:hover {
  background-color: #0fb0d3;
  color: #fff;
  transition: all 0.3s ease-in;
}

.footer {
  background: #161616;
  margin-top: 100px;
  padding-bottom: 70px;
}

.news h3 {
  color: #fff;
  font-size: 20px;
  line-height: 21px;
  text-align: left;
  font-weight: 500;
  padding-bottom: 20px;
}

.footer .address h3 {
  color: #fff;
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  padding-bottom: 20px;
}

.location_section {
  background-color: #fff;
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 20px 35px;
}

.border_top {
  border-top: #ddd solid 1px;
}

.news {
  padding: 35px 0px 50px 0px;
  max-width: 71%;
  margin: 0 auto;
}

.news .newslatter {
  padding: 0px 30px;
  box-shadow: inherit;
  border: inherit;
  width: 70%;
  font-size: 16px;
  height: 52px;
  text-transform: uppercase;
}
.upper {
  top: 300px;
}

.submit {
  height: 52px;
  border: #0fb0d3 solid 1px;
  background: #0fb0d3;
  color: #fff;
  margin-left: -5px;
  font-weight: 500;
  font-size: 16px;
  max-width: 191px;
  width: 100%;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}

.submit:hover {
  background: #ddd;
  border: #ddd solid 1px;
  color: #0fb0d3;
  transition: all 0.3s ease-in;
}

ul.loca {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

ul.loca li {
  color: #fcfbfb;
  padding: 0px 30px;
  font-size: 18px;
}

ul.loca li a {
  padding-right: 16px;
  color: #fcfbfb;
  margin-top: 4px;
}

ul.social_link {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

ul.social_link li {
  display: inline-block;
  padding-right: 4px;
  margin: 0px 4px;
}

ul.social_link li a {
  font-size: 24px;
  color: #161616;
  background: #0fb0d3;
  border-radius: 80px;
  display: flex;
  align-items: center;
  width: 40px;
  height: 41px;
  justify-content: center;
}

ul.social_link li a:hover {
  color: #fff;
}

header {
    position: relative;
    max-width: 1200px;
    height: 80px;
    padding: 10px;

    background-color: rgba(0,0,0,0.7);
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.logo
{
    float:left;
    text-align: left;
    color:#069370;
    text-decoration: none;
    height: 80px;
    width: 80px;
    position: absolute;
    top: -2.2px;
    left: -2px;

}
nav
{
  height: 80px;
    float:right;
}
.clear
{
    clear: both;
}
nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li
{
  font-family: 'Poppins', sans-serif;
  margin: 0;
    list-style: none;
    font-size: 1.2rem;

    color: white;

}
nav ul li a
{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}
nav ul li a.active,
nav ul li a:hover
{
  border-radius: 10px;
    background: #E74C4C;
    color: #fff;
    transition: 0.5s;
}

@media (max-width: 768px)
{
  .imgs {
    width: 100%;
    height: auto;
  }
    .mean-toggle
    {
        display: block;
        width: auto;
        height: auto;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #069370;
    }
    .mean-toggle:before
    {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .mean-toggle.active:before
    {
        content: '\f00d';
    }
    nav
    {
        display:none;
    }
    nav.active
    {
        display:block;
        width :100%;
    }
    nav.active ul
    {
        display: block;
    }
    nav.active ul li
    {
        margin: 0;
        text-align: center;
    }
    .carousel-inner {
      text-align: center;
      padding: 10%;
    }
    #about {
      height: 1100px;
    }
    .Gallery {
      height: 2100px;

    }
    .Gallery_text {
      text-align: left;
    }
    body {
      background-color: black;
    }


}
.cell {
  background: white;
  border-radius: 30px;
  font-family: Arial;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-color: transparent;
  margin: 10px;
  align-items: center
}

.cell:hover {
  background: black;
  color: white;
  text-decoration: none;
}
.button {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
    float: right;
}
.b2 {
  padding: 10px 79px;
}
@media (max-width: 1000px) {
  .imgs {
    width: 100%;
    height: auto;
  }
  .footer {
    height: 1100px;
  }
  .Gallery {
    padding-bottom: 0;
  }
}
.slider_section {
  padding: 50px;
  top: -200px;
}
